<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>/* strong-js */</title>
    <link rel=stylesheet href=bower_components/strong-css/dist/css/strong.css>
    </head>
    
    <body class=app--thestrongelement id=thestrongelement-com>
        <div class="ui" role=application>
          <header class="panel__ app__header">
            <strong id=logo--thestrongelement>The <code>strong</code> element</strong>
          </header>
          <main class="app__main page--index" role=main>


           <ul class="navlist--flex">
             <li class="item__"><span id="years"></span> Years</li>
             <li class="item__"><span id="months"></span> Months</li>
             <li class="item__"><span id="days"></span> Days</li>
           </ul>
            
            
            <section id=menu class=ui__panel>
            
              <ul class="navlist--flex">
                <li class="item__" data-id="1"><span class="title__">Vestibulum</span><span class="count__">257</span></li>
                <li class="item__" data-id="2"><span class="title__">Suspendisse</span><span class="count__">192</span></li>
                <li class="item__" data-id="3"><span class="title__">Proin</span><span class="count__">170</span></li>
                <li class="item__" data-id="4"><span class="title__">Etiam</span><span class="count__">122</span></li>
              </ul>
              
            
            </section>
            <div id=test>
            hi
            </div>
          </main>
          <footer>
            &copy; 2016 The Strong Element Company
          </footer>
      
      
      </div>
      <script src=/js/strong.js></script>
		</body>
</html>
